<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{   aFrases.strTitle  }}</title>
    <meta name="description" content="nada">
</head>

<body>
    <center>
        <h1>{{   aFrases.aRefranRandom    }}</h1>
    </center>
</body>

</html>