<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{ aPage.strTitle }}</title>

    <meta name="description" content="{{ aPage.strDescription }}">

</head>

<body>
    <center>
        <h1>Está usted viendo una plantilla HTLM</h1>
        <h3>Creada con el micro-framework Slim y y el motor de plantillas Twig</h3>
    </center>
</body>

</html>